.activity_content {
  display: flex;
  position: fixed;
  left: 0;
  padding: 0;
  margin: 0;
  top: 0;
  margin-top: 110px;
  margin-left: 200px;
  width: 100%;
  overflow-y: auto;
}

.activity_content_container{
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}


.activity-notif{
  margin-left: 1%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 87.5%;
  background-color: #474747;
  padding: 10px;
  border: 2px solid;
  border-radius: 6px;
  color: whitesmoke;
}


.activity-notif p{
  font-size: 20px;
  color: white;
}

.activity-notif i{
  font-size: 30px;
  display: flex;
  cursor: pointer;
  position: fixed;
  right: 0;
  margin-top: -29px;
  margin-right: 28px;
}