.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1850px; 
    height: 100%;
    
}

.right-container{
    width: 50%;
    height: 100%;
    right: 0;
}

.left-container{
    width: 50%;
    height: 100%;
    left: 0;
}

.left-container h1{
    text-align: center;
    font-size: 50px;
    border-bottom: solid black 2px;
    margin-bottom: 60px;
    padding-bottom: 60px;
}

.rightimg{
    width: 925px;
}

.BtnProceed{
    background: linear-gradient(rgb(104, 29, 165), black);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 150px;
    height: 50px;
    font-size: 17px;
    border-radius: 15px;
    color: whitesmoke;
    cursor: pointer;
    margin-top: 35px;
    margin-left: 43%;
}

.BtnProceed:hover{
    background: linear-gradient(rgb(153, 96, 199), black);
    color: whitesmoke;
    transition: .5s;
}


/* Purple */
/* background: linear-gradient(rgb(153, 96, 199), black); HOVER*/
/* background: linear-gradient(rgb(104, 29, 165), black); */