@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Patua+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.contact-us-container {
    position: relative;
    top: 70px;
    width: 1750px;
    left: 80px;
}

.contact-us-container .img-container {
    display: flex; 
    align-items: center; 
    justify-content: start; 
    margin-bottom: 75px;
}

.contact-us-container .img-container .img-profile {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-right: 20px; 
}

.contact-us-container .img-container .text-container {
    display: block;
    flex-direction: column;
    margin-left: 120px;
    margin-top: 0px;
}

.contact-us-container .img-container .text-container h1 {    
    font-size: 40px;
    display: flex;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.contact-us-container .img-container .text-container h2 {    
    font-size: 15px;
    color: rgb(59, 58, 59);
    margin-left: 1.5px;
    margin-bottom: 2px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.contact-us-container .img-container .text-container span {    
    font-size: 12px;
    margin-bottom: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    
}
.contact-us-container .img-container .text-container i {
    position: relative;
    top: 2px;
    height:10px;
    margin-left: 1.5px;
    color: rgb(153, 96, 199);
    padding-right: 10px;
 }

 .contact-us-container .img-container .img-size{
    width: 100px;
    height: 100px;
}
