@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Patua+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.contact-us-container {
    position: relative;
    top: 70px;
    width: 1750px;
}

.contact-us-container .img-container {
    display: flex; 
    align-items: center; 
    justify-content: start; 
    margin-bottom: 75px;
}

.contact-us-container .img-container .img-profile {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-right: 20px; 
}

.contact-us-container .img-container .text-container {
    display: block;
    flex-direction: column;
    margin-left: 120px;
    margin-top: 0px;
}

.contact-us-container .img-container .text-container h1 {    
    font-size: 50x;
    display: flex;font-family: Patua One;
    font-weight: 200;
}
.contact-us-container .img-container .text-container h2 {    
    font-size: 15px;
    margin-left: 1.5px;
    margin-bottom: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
.contact-us-container .img-container .text-container span {    
    font-size: 12px;
    margin-bottom: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
.contact-us-container .img-container .text-container i {
    position: relative;
    top: 2px;
    height:10px;
    margin-left: 1.5px;
    color: rgb(153, 96, 199);
    padding-right: 10px;
 }

 .contact-us-container .img-container .img-size{
    width: 100px;
    height: 100px;
}
