.dashboard_content {
    display: flex;
    position: fixed;
    left: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    top: 0;
    margin-top: 110px;
    margin-left: 225px;
    width: 1645px;
}

.sidebar-hidden .dashboard_content {
    margin-left: 0;
    width: 100%;
}

.main_content_container{
    width: 100%;
}

.dashboard_box {
    display: flex;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    margin: 20px;
    height: 200px;
    width: 1000px;
}

.dashboard_box h1 {
    padding-top: 25px;
    font-size: 18px;

}

.dashboard_box .left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(151, 255, 151);
    border-radius: 8px;

}
.left2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 201, 100);
    border-radius: 8px;

}
.left2 i{
    font-size: 100px;
}

.dashboard_box .left i{
    font-size: 100px;
}
.dashboard_box .right{
    width: 50%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}


.dashboard_box .right p{
    width: 100%;
    height: 50%;
    margin-top: 20px;
    font-size: 50px;
}
.container0{
    width: 100%;
    display: inline-flex;
}

.container1{
    width: 100%;
    display: inline-flex;
}

.container1 .dashboard_box{
    display: block;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    margin: 20px;
    height: 150px;
    width: 1000px;
}
/* Pang format rani nako na code kay naa koy gi sulyan */
