.dashboard_content {
    display: flex;
    position: fixed;
    left: 0;
    padding: 0;
    margin: 0;
    top: 0;
    margin-top: 110px;
    margin-left: 225px;
    width: calc(100% - 225px);
    height: calc(100% - 110px);
    overflow: auto;
    z-index: 1;
}

.main_content_container{
    width: 100%;
}

.dashboard_box {
    display: flex;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: space-between;
    margin: 20px;
    height: 200px;
    width: 500px;
    /* ^Kini */
}

.dashboard_box h1 {
    padding-top: 25px;
    font-size: 18px;

}



.dashboard_box .left ,
.dashboard_box .leftbig ,
.left2 ,
.left3 ,
.left4 ,
.left5 ,
.left6{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 121px;
}
.dashboard_box .left i,
.dashboard_box .leftbig i,
.left2 i,
.left3 i,
.left4 i,
.left5 i,
.left6 i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

.dashboard_box .left {
    background-color: rgb(233, 196, 147);
}
.left2 {
    background-color: rgb(255, 254, 167);
}
.left3 {
    background-color: rgb(147, 189, 236);
}
.left4 {
    background-color: rgb(194, 223, 148);
}
.left5 {
    background-color: rgb(255, 167, 255);
}
.left6 {
    background-color: rgb(236, 147, 147);
}

.dashboard_box .right,
.dashboard_box .rightbig {
    width: 50%;
    height: 100%;
    display: flex; /* Changed from block to flex */
    flex-direction: column; /* Flex column to stack items */
    justify-content: center;
    align-items: center;
}

.dashboard_box .right p {
    width: 100%;
    height: 50%;
    margin-top: 20px;
    font-size: 50px;
}

.container0,
.container1 {
    width: 100%;
    /* ^Kini */
    display: inline-flex;
    flex-wrap: wrap;
    /* ^Kini */
}

.container1 .dashboard_box {
    width: 47.5%;
}

.container0 .dashboard_box {
    width: 22.5%;
}

/* this is for animation ra, change the background color sa ":before"*/

.hvr-sweep-to-right,
.hvr-sweep-to-right-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before,
.hvr-sweep-to-right-bottom:before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #474747;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}


.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active,
.hvr-sweep-to-right-bottom:hover,
.hvr-sweep-to-right-bottom:focus,
.hvr-sweep-to-right-bottom:active {
  color: whitesmoke;
}

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before,
.hvr-sweep-to-right-bottom:hover:before,
.hvr-sweep-to-right-bottom:focus:before,
.hvr-sweep-to-right-bottom:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.notif{
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 1000;
}

.notif i{
    font-size: 35px;
    padding-top: 20px;
    padding-right: 20px;
    color: #000000;
    transition: .5s;
}

.notif i:hover{
    color: #181515;
}

.dashboard-chart {
    width: 47.5%;
    position: relative;
    perspective: 1000px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.dashboard-chart.active {
    transform: rotateY(180deg);
}

.dashboard-chart canvas {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}