@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Patua+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

header{
    border-bottom: 3px solid;
    border-color: black;
    top: 0;
    left: 0;
    padding: 20px 50px;
    width: 100%;
    align-items: center;
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 99;
}

.Logosect{
    display: flex;
    align-items: center;
}

.Logosect .Logo{
    width: 130px;
    height: 130px;
    position: fixed;
    margin: 0;
    margin-left: -25px;
}

.Logosect .Logotxt{
    font-family: Holtwood One SC;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 40px;
    margin-left: 110px;
}


.Navbar .Navbar-active {
    font-size: 17px;
    text-decoration: none;
    color: black;
    margin-right: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

.Navbar .Navbar-active::after {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: rgb(46, 14, 73);
    transform: scaleX(0);
    transition: transform .5s;
}

.Navbar .Navbar-active:hover::after,
.Navbar .Navbar-active:focus::after,
.Navbar .Navbar-active:active::after {
    transform: scaleX(1);
}


.Navbar a{
    position: relative;
    font-size: 17px;
    text-decoration: none;
    color: black;
    margin-right: 80px;
    margin-left: px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Navbar a::after{
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color:rgb(46, 14, 73);
    transform: scaleX(0);
    transition: transform .5s;
}

.Navbar a:hover::after{
    transform: scaleX(1);
}

.Login-Register .Register{
    background-color: rgb(153, 96, 199);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 120px;
    height: 50px;
    font-size: 17px;
    border-radius: 30px;
    color: whitesmoke;
    border: solid rgb(127, 75, 170) 2px;
    cursor: pointer;
    margin-left: 50px;
}

.Login-Register .Register:hover{
    color: rgb(46, 14, 73);
    border-color: rgb(46, 14, 73);
    background-color: transparent;
    transition: .5s;
}

.Login-Register .Login{
    text-decoration: none;
    font-size: 17px;
    background: none;
    border: none;
    position: relative;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.Login-Register .Login::after{
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color:rgb(46, 14, 73);
    transform: scaleX(0);
    transition: transform .5s;
}
.Login-Register .Login:hover::after{
    transform: scaleX(1);
}


.image-grid .firstimg{
    position: fixed;
    margin-right: 790px;
}

.image-grid .secondimg{
    position: fixed;
    margin-top: 180px;
    margin-right: 765px;
}

.image-grid .thirdimg{
    position: fixed;
    width: 499px;
    height: 356px;
}

.image-grid .fourthimg{
    position: fixed;
    margin-top: 180px;
    margin-left: 760px;
}

.image-grid .fifthimg{
    position: fixed;
    margin-left: 790px;
}

.content {
    text-align: center;
    width: 1400px;
    height: 500px;
    margin-top: -150px;  
}   

.content h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-family: Patua One;
}

.content h2 {
    font-size: 20px;
    font-weight: 400;
    color: rgb(65, 63, 65);
    margin-bottom: 85px;
}

.content .image-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
}

.BtnRegisterCompany {
    background-color: rgb(153, 96, 199);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;    
    border: solid rgb(127, 75, 170) 2px;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 17px;
    cursor: pointer;
}

.BtnRegisterCompany:hover{
    color: rgb(46, 14, 73);
    border-color: rgb(46, 14, 73);
    background-color: transparent;
    transition: .5s;
}

footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255); 
    height: 40px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    position: fixed;
    bottom: 0; 
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    width: 9cm;
    padding: 0;
}

footer p.copyright{
    font-size: 13px;
    width: 15cm;
    left: 0;
    margin-left: 40px;
}

footer p.tos{
    left: 0;
    margin-left: 39%;
}

footer p.pap{
    right: 0;
    margin-right: 20%;
}

footer a{
    color: #ffffff;
    
}

footer .icons a i{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 9cm;
    margin-left: 8px;
    font-size: 25px;
}

.icons{
    right: 0;
    position: fixed;
    margin-right: 40px;
    
}
