.inventory-card {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    background-color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    cursor: pointer;
    /* ^Kini */
}

/* 
20
10
10
20
10
20
10
*/

.table-box0{
    width: 25%;
    height: 100%;
    justify-content: center;
    padding: 10px;
}

.table-box1{
    width: 10%;
    height: 100%;
    justify-content: center;
    padding: 10px;
}

.table-box2{
    width: 12%;
    height: 100%;
    justify-content: center;
    padding: 10px;
}

.table-box3{
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.table-box4{
    width: 10%;
    height: 100%;
    justify-content: center;
    padding: 10px;
}

.table-box5{
    width: 15%;
    height: 100%;
    justify-content: center;
    padding: 10px;
}

.table-box6{
    width: 10%;
    height: 100%;
    justify-content: center;
    padding: 10px;
}

.inventory-card:hover {
    transform: scale(0.97);
}

.inventory-card p {
    padding: 2px;
    margin: 4px 0;
    font-size: 18px;
}

.inventory-card .centeredps{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}