.inventory-card {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    background-color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 89%;
    cursor: pointer;
    /* ^Kini */
}

.table-box{
    width: 100%;
    height: 100%;
    justify-content: center;
}

.inventory-card:hover {
    transform: scale(0.97);
}

.inventory-card p {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 4px 0;
    font-size: 18px;
}

.inventory-card .centeredps{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}