.item_content {
    display: flex;
    position: fixed;
    left: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    top: 0;
    margin-top: 110px;
    margin-left: 200px;
    width: 1720px;
}

.item_content_container{
    width: 100%;
}

.search-container{
    width: 2000px;
    height: 50px;
    align-items: center;
    background-color: #141414;
    display: flex;
}

.search-container i{
    position: absolute;
    margin-left: 29px;
}

.search_box_container{
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.search_box_container i{
    right: 0;
    padding-right: 20px;
    color: whitesmoke;
    font-size: 30px;
    cursor: pointer;
    transition: .5s;
}

.search_box_container i:hover{
    color: #474747;
}

.search-box{
    width: 500px;
    height: 30px;
    background-color: white;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 5%;
    padding-left: 25px;
}
.main-content-area {
    display: block;
    justify-content: center;
}

.container-input{
    width: 1000px;
    height: 400px;
}

