.item_content {
    display: flex;
    position: fixed;
    left: 0;
    padding: 0;
    margin: 0;
    top: 0;
    margin-top: 110px;
    margin-left: 200px;
    width: 100%;
    overflow: auto;
}

.item_content_container{
    width: 100%;
}

.search-container{
    width: 100%;
    height: 45px;
    /* ^Kini */
    align-items: center;
    background-color: #141414;
    display: flex;
}

.search-container i{
    position: fixed;
    margin-left: 25px;
    font-size: 20px;
}

.search_box_container{
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.search_box_container i{
    right: 0;
    padding-right: 20px;
    color: whitesmoke;
    margin: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: .5s;
}

.search_box_container i:hover{
    color: #474747;
}

.search-box{
    width: 500px;
    height: 30px;
    background-color: white;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 5%;
    padding-left: 30px;
}
.main-content-area {
    display: block;
    justify-content: center;
    height: inherit;
    margin-left: 10px;
}

.container-input{
    width: 1000px;
    height: 400px;
}

.inventory-card-categories{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 89%; 
    /* ^Kini */
}

.table-box-categories{
    width: 100%;
    height: 100%;
    border-right: 1px solid #000000;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inventory-card-categories:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.inventory-card-categories p {
    margin: 4px 0;
    font-size: 18px;
    color: whitesmoke;
}