.inspect-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.left-arrow{
    margin-right: -40px;
    width: 85px;
    height: 100px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    z-index: 1002;
    cursor: pointer;
    border: outset 2.5px black;
}

/* .left-arrow:hover{ 
    background: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.623);
    width: 100px;
    height: 115px;
} */

.left-arrow i{
    font-size: 75px;
    color: black;
}

/* .left-arrow i:hover{
    font-size: 85px;
    color: black;
} */


.right-arrow{
    margin-left: -40px;
    width: 85px;
    height: 100px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    z-index: 1002;
    cursor: pointer;
    border: outset 2.5px black;
}
/* .right-arrow:hover{ 
    background: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.623);
    width: 100px;
    height: 115px;
} */

.right-arrow i{
    font-size: 75px;
    color: black;
}

/* .right-arrow i:hover{
    font-size: 85px;
    color: black;
} */


.inspect-modal-content {
    background: white;
    border-radius: 5px;
    max-width: 1000px;
    height: 200px;
    width: 100%;
    height: 50%;
    z-index: 1001;
    display: flex;
    padding: 20px;
}

.inspect-modal-content_left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    border-radius: 6px;
}

.inspect-modal-content_left img{
    width: 100%;
    height: 100%;
}

.inspect-modal-content_right{
    width: 50%;
    height: 100%;
    padding-left: 20px;
}

.inspect-modal-content_right p{
    font-size: 20px;
    padding-bottom: 10px;
}

.inspect-modal-content_right h2{
    padding-bottom: 15px;
    font-size: 35px;
    font-family: Patua One;
    text-transform: uppercase;
    margin-left: -10px;
}

.Btns{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Btns button{
    padding: 10px 20px;
    border: 2px outset transparent;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    font-size: 25px;
    font-family: Patua One;
}

.Btnfirst:hover{
    color: white;
    background: linear-gradient(#2fff2f,rgb(0, 0, 0));
    border: black 2px;
    border-style: outset;
}

.Btnsecond:hover{
    color: white;
    background: linear-gradient(#FF2F2F,rgb(0, 0, 0));
    border: black 2px;
    border-style: outset;
}

.close{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: -15px;
    margin-right: -15px;
}

.close i{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}