

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1850px; 
    height: 100%;
}

.register-container .left-register {
    width: 50%;
    text-align: center;
    margin-left: 10px;
}
.register-container .left-register h2{
    margin-top: 200px;
    font-size: 20px;
    font-family: Ubuntu;
}
.register-container .left-register h1{
    width: 100%;
    padding-bottom: 10px;
    font-size: 35px;
    
    font-family: Ubuntu;
}
.register-container .right-register {
    width: 50%; 
    font-size: 20px;
    padding-left: 20px;
}

.input-group1 {  
    width: 40%;
}
.input-group2 {
    width: 40%;
    margin-right: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label i{
    position: absolute;
    font-size: 20px;
    color: rgb(127, 75, 170);
    margin-top: 30px;
    margin-left: 10px;
}


.input-group {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.inputBox{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 35px;
}   

.right-register h1{
    text-align: center;
    margin-bottom: 20px;
    font-family: Patua One;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
}

.BtnSignup{
    background-color: rgb(153, 96, 199);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 150px;
    height: 50px;
    font-size: 17px;
    border-radius: 30px;
    color: whitesmoke;
    border: solid rgb(127, 75, 170) 2px;
    cursor: pointer;
    margin-top: 35px;
    margin-left: 43%;
}

.right-register .BtnSignup:hover{
    color: rgb(46, 14, 73);
    border-color: rgb(46, 14, 73);
    background-color: transparent;
    transition: .5s;
}

.left-register .photos img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.first{
    border: solid black 5px;
    margin-left:-200px;
    position: fixed;
}

.second{
    border: solid black 5px;
    position: fixed;
    margin-left:-100px;
}

.third{
    border: solid black 5px;
    position: fixed;
}

.fourth{
    border: solid black 5px;
    position: fixed;
    margin-left: 100px;
}
