*{
    text-decoration: none;
}
.Main_container {
    display: flex;
    position: fixed;
    left: 0;
    width: 100%;
    /* ^Kini */
    height: 960px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    top: 0;
}

.dashboard_sidebar {
    width: 200px;
    background: #474747;
    height: 100vh;
    position: fixed;
    z-index: 1;
}

.dashboard_sidebar.hidden {
    width: 0%;
    overflow: hidden;
}

.dashboard_sidebar_user {
    padding: 10px;
    border-bottom: 1px solid #000;
}

.logo-container{
    text-align: center;
    width: 150px;
    height: 190px;
    align-items: center;
    justify-content: center;
}

.logo-container img{
    width: 250px;
    height: 250px;
    margin-left: -33px;
    margin-top: -30px;
    border-radius: 100%;
}

.dashboard_sidebar_user .edit-icon{
    position: relative;
    width: 40px;
    height: 40px;
    border: solid rgba(0, 0, 0, 0) 2px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: -40px;
    background: #B998FF;
    margin-left: 150px;
}

.dashboard_menu_lists {
    margin-top: 20px;
    padding-left: 0;
}

.dashboard_menu_lists li {
    padding: 15px;
    text-transform: uppercase;
    list-style-type: none;
}

.dashboard_menu_lists li div {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.dashboard_menu_lists li div h1{
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    padding-left: 10px;
}


.dashboard_menu_lists li div i{
    font-size: 35px;
}

.link{
    text-decoration: none;
}

/* .dashboard_menu_lists li:hover {
    background: #303030a8;
    transition: 0.5s all;
    cursor: pointer;
} */

.Menu_active li{
    background: #ffffff;
    cursor: pointer;
    text-decoration: none;
}
.Menu_active li div h1 {
    color: black;
    text-decoration: none;
}

.Menu_active div{
    display: flex;
    flex-direction: row;
}

.Menu_active i{
    color: rgb(0, 0, 0);
    font-size: 20px;
}


.Menu_active_txt{
    padding-left: 6px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.dashboard_content_container {
    margin-top: -51.5vh;
    width: 2000px;
    background: white;
    height: 100vh;
    margin-left: 250px;
    transition: margin-left 0.3s ease-in-out;
}


.dashboard_topNav {
    padding: 10px;
    padding-left: 20px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: margin-left 0.3s ease-in-out;
    z-index: 2;
    margin-left: 200px;
    box-shadow: -1px 9px 21px -5px rgba(0,0,0,0.26);
}

.dashboard_topNav h1{
    font-family: Patua One;
    font-size: 50px;
}

.dashboard_topNav i{
    font-size: 40px;
    padding-right: 20px;
    cursor: pointer;
}
.dashboard_topNav i:hover {
    color: #474747;
}

.form-modal {
    position: relative;
    height: 450px;
    background-color: #d8d8d88d;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 1000;
    top: 15px;
    backdrop-filter: blur(3px);
}

.logoutBtn:hover{
    background: #7d7d7d8d;
    border: none;
    color: whitesmoke;
}
.profileBtn {
    margin-top: 290px;
}
.profileBtn span {
    position:absolute;
    margin-top: 14px;
    margin-left: 6px;
}

