.Main_container {
    display: flex;
    position: fixed;
    left: 0;
    width: 1919.5px;
    height: 960px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    top: 0;
}

.dashboard_sidebar {
    width: 250px;
    background: #B998FF;
    height: 100vh;
    position: fixed;
    transition: width 0.3s ease-in-out;
    z-index: 1;
    border-right: solid black 3px;
}

.dashboard_sidebar.hidden {
    width: 0%;
    overflow: hidden;
}

.dashboard_sidebar_user {
    padding: 10px;
    border-bottom: 1px solid #000;
}

.logo-container{
    text-align: center;
}

.logo-container img{
    width: 200px;
    height: 200px;
    border: solid black;
    border-radius: 100%;
}

.dashboard_sidebar_user .edit-icon{
    position: relative;
    width: 40px;
    height: 40px;
    border: solid rgba(0, 0, 0, 0) 2px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: -40px;
    background: #B998FF;
    margin-left: 150px;
}

.dashboard_sidebar_user .edit-icon i{
    font-size: 30px;
}

.dashboard_sidebar_user .edit-icon i:hover{cursor: pointer;
}

.sidebar-handler {
    margin-top: 25%;
    position: fixed;
    width: 80px;
    height: 90px;
    border-radius: 50%;
    margin-left: 207px;
    transition: 0.3s ease-in-out;
    z-index: 1;
}

.left-half, .right-half {
    position: absolute;
    cursor: pointer;
    width: 50%;
    height: 100%;
    top: 0;
}

.left-half {
    left: 0;
    border-radius: 50% 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-half {
    right: 0;
    background-color: #B998FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black; /* Adjust the border width and color as needed */
    border-left: none;
    border-radius: 0 50% 50% 0;
}

.bi-chevron-right {
    font-size: 24px; /* Adjust icon size as needed */
    color: black;
}

.sidebar-hidden .sidebar-handler{
    margin-left: -40px;
    position: fixed;
}

.sidebar-handler i{
    font-size: 30px;
}

.dashboard_menu_lists {
    margin-top: 20px;
    padding-left: 0;
}

.dashboard_menu_lists li {
    padding: 15px;
    text-transform: uppercase;
    list-style-type: none;
}

.dashboard_menu_lists li div {
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

.dashboard_menu_lists li div i{
    font-size: 20px;
}

.link{
    text-decoration: none;
}

.dashboard_menu_lists li:hover {
    background: rgb(94, 69, 114);
    color: whitesmoke;
    transition: 0.5s all;
    cursor: pointer;
}

.Menu_active {
    background: rgb(91, 41, 132);
    cursor: pointer;
    border-top: 2.5px solid whitesmoke;
    border-bottom: 2.5px solid whitesmoke;
}

.Menu_active div{
    display: flex;
    flex-direction: row;
}

.Menu_active i{
    color: whitesmoke;
    font-size: 20px;
}


.Menu_active_txt{
    padding-left: 6px;
    font-size: 20px;
    color: whitesmoke;
}

.dashboard_content_container {
    margin-top: -51.5vh;
    width: 2000px;
    background: white;
    height: 100vh;
    margin-left: 250px;
    transition: margin-left 0.3s ease-in-out;
}


.dashboard_topNav {
    background: #b998ff85;
    padding: 10px;
    padding-left: 20px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: margin-left 0.3s ease-in-out;
    z-index: 2;
    margin-left: 250px;
}

.sidebar-hidden .dashboard_topNav {
    margin-left: 0;
    width: 100%;
}

.dashboard_topNav h1{
    font-family: Patua One;
    font-size: 50px;
}

.form-modal {
    position: relative;
    height: 450px;
    background-color: #d8d8d88d;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 1000;
    top: 15px;
    backdrop-filter: blur(3px);
}

.logoutBtn{
    background: none;
    border: none;
    color: whitesmoke;
}
