.update-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.update-modal-content {
    background: white;
    border-radius: 5px;
    max-width: 1000px;
    height: 200px;
    width: 100%;
    height: 50%;
    z-index: 1001;
    display: flex;
    padding: 20px;
}

.update-modal-content_left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    border-radius: 6px;
    position: relative;
}

.update-modal-content_left .image-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.update-modal-content_left .image-container img {
    width: 100%;
    height: 100%;
    filter: brightness(50%) blur(5px);
}

/* Purple */
/* background: linear-gradient(rgb(153, 96, 199), black); HOVER*/
/* background: linear-gradient(rgb(104, 29, 165), black); */

.update-modal-content_left .image-container button {
    font-size: 25px;
    font-family: Patua One;
    display: flex;
    position: absolute;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(104, 29, 165), black);
}

.update-modal-content_left .image-container button:hover {
    color: rgb(255, 255, 255);
background: linear-gradient(rgb(153, 96, 199), black); 
}

.update-modal-content_right {
    width: 50%;
    height: 100%;
    padding-left: 20px;
}

.update-modal-content_right p {
    font-size: 20px;
    padding-bottom: 10px;
}

.update-modal-content_right h2 {
    padding-bottom: 15px;
    font-size: 35px;
    font-family: Patua One;
    text-transform: uppercase;
    margin-left: -10px;
}

.update-Btns {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-Btns button{
    border: 2px outset transparent;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    font-size: 25px;
    background: none;
    font-family: Patua One;
}

.update-Btnfirst:hover {
    border: black 2px;
    border-style: outset;
    color: white;
    background: linear-gradient(#2fff2f,rgb(0, 0, 0));
}

/* 
background: linear-gradient(#2fff2f,rgba(0, 0, 0, 0.801));
background: linear-gradient(#FF2F2F,rgba(0, 0, 0, 0.801)); */

.update-Btnsecond:hover {
    border: black 2px;
    border-style: outset;
    color: white;
    background: linear-gradient(#FF2F2F,rgb(0, 0, 0));   
}